PORT=8000
MONGO_URI=mongodb+srv://Code-Sphere:chotibachi@cluster0.un9t8ui.mongodb.net
CORS_ORIGIN=http://localhost:5173

ACCESS_TOKEN_SECRET=Gang_Leader

ACCESS_TOKEN_EXPIRES_IN=1d

REFRESH_TOKEN_SECRET=Gang_Leader

REFRESH_TOKEN_EXPIRES_IN=10d


//what is MONGO_URI?
//MONGO_URI is an environment variable that contains the connection string for connecting to a MongoDB database. It typically includes the username, password, host, and database name required to establish a connection to the MongoDB server. In this case, it is connecting to a MongoDB Atlas cluster with the username "Code-Sphere" and the password "chotibachi".

